<ion-view view-title="{{count}}" hide-nav-bar="true">
  <ion-content class="">

    <!--<img style="position: absolute; top: 30%; left: 0%; width: 200px; height: 400px;" src="/img/sheep/blue-cloud.svg" >-->

    <h1 style="font-size:300px; position: absolute; top: 20%; left: 0%; color: orange">{{count}}</h1>



    <div style="text-align:center; height: 800px;">
        <img ng-click="click()" style="width: 100%;height:100%;" ng-src="{{image}}">
    </div>

    <audio controls preload="auto">
      <source src="audio.wav" type="audio/wav">
      Your browser does not support the audio element.
    </audio>


  </ion-content>
</ion-view>
